# Ignore the Fluxs - AI Training folder
Fluxs - AI Training/
json_outputs/
ground-truth/
input/
mine2test/
venv/
__pycache__/
.vscode/
.venv/

.DS_Store

# Environment variables
.env
.dat
idyllic-analyst-450622-e6-96309f404b65.json
labe lization_agent1.py

# Added by Claude Task Master
# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
dev-debug.log
# Dependency directories
node_modules/
# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
# OS specific
# Task files
tasks.json
tasks/ 